@font-face {
    font-family: 'galaxy';
    src: url('../fonts/galaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


html {
	
	
	background: black;	
	
}

#description {
	
	width: 650px;
	height: 300px;
	background: red;
	margin: 30px auto 0 auto;	
	
	
}


#gameboard { 

background-color: black;
background-image:url(../images/stars.png);
background-position: 0px 0px;
background-repeat: repeat-y;

-webkit-animation: animatedBackground 30s linear infinite;

}

@-webkit-keyframes animatedBackground {
	to { background-position-y: 100%; }
	
}

#game-wrapper { 

width: 650px; 
height: 350px;
background: red;

}

#arcade-wrapper {

padding-top: 150px;
padding-left: 156px;
height: 768px;
width: 961px;
margin: 100px auto;

background-image:url(../images/arcade_machine.png);
background-repeat: none;
background-size: 100%;
box-sizing: border-box;

}

